extends ../layout


block content

    .row
        .six.columns
            h2
                | #{vizType.name}
            .subheader
                a(href="..")
                    | &larr; back
                
    .row.editor-container
        .ten.columns
            .visualization-type(data-id="#{vizType.id}")
                textarea#js-editor
                    | #{vizType.javascript}
        

        .six.columns.fixed
            .feed-item-container
                .feed-item(data-type="#{vizType.name}", data-data="#{JSON.stringify(vizType.sampleData)}", data-initialized="false")



    .saved
        | Saved!
    .problem-saving
        | Problem Saving...


block scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src="#{STATIC_URL}js/dynamic/viz/?visualizations[]=#{vizType.name}")
    script(src='#{STATIC_URL}js/editor.js')