extends ../layout

block dynamic-css
    link(rel='stylesheet', href="#{STATIC_URL}css/dynamic/viz/?visualizations[]=#{vizType.name}")

block container

    //- .row
        .six.columns
            h2
                | #{vizType.name}
            .subheader
                a(href="..")
                    | &larr; back

    .editor-container
        .top-matter
            h2
                | #{vizType.name}
            .subheader
                a(href="..")
                    | &larr; back
            hr

        .editor-code-container
            
            .visualization-type(data-id="#{vizType.id}")
                if vizType.javascript
                    textarea#js-editor
                        | #{vizType.javascript}
            
            
                if vizType.styles
                    textarea#style-editor
                        | #{vizType.styles}

                if vizType.markup            
                    textarea#markup-editor
                        | #{vizType.markup}
            
            
        .editor-viz-container
            .feed-item-container
                .feed-item(data-type="#{vizType.name}", data-data="#{(vizType.sampleData.length) ? JSON.stringify(vizType.sampleData[0].data) : []}", data-images="#{JSON.stringify(vizType.sampleImages)}", data-initialized="false")


    .saved
        | Saved!
    .problem-saving
        | Problem Saving...


block scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src="#{STATIC_URL}js/dynamic/viz/?cachemiss=true&visualizations[]=#{vizType.name}")
    script(src='#{STATIC_URL}js/editor.js')