extends ../layout

block container

    .editor-outer-section.wrap.push
        .editor-inner-section
            .top-matter
                .info-container
                    a(href="#{BASE_URL}visualization-types/")
                        | &larr; back

                .title-container
                    h1
                        | #{utils.titleCase(vizType.name)}

                .action-container
                    a(href="#{BASE_URL}visualization-types/#{vizType.id}/delete", data-confirm="Are you sure you want to delete the #{vizType.name} visualization?")
                        .button.danger
                            | Delete Visualization


    #editor-component
                    
            
    .saved
        | Saved!
    .problem-saving
        | Problem Saving...


block scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src="#{STATIC_URL}js/dynamic/viz/?visualizations[]=#{vizType.name}&cachemiss=true")
    script.
        window.lightning = window.lightning || {};
        window.lightning.editor = {
            datasets: !{JSON.stringify(vizType.sampleData)},
            name: "#{vizType.name}",
            moduleName: "#{vizType.moduleName}",
            sampleImages: !{JSON.stringify(vizType.sampleImages)},
            sampleOptions: !{JSON.stringify(vizType.sampleOptions)},
            codeExamples: !{JSON.stringify(vizType.codeExamples)}
        };
    script(src='#{STATIC_URL}js/editor.js')
