extends ../layout

block dynamic-css
    link(rel='stylesheet', href="#{STATIC_URL}css/dynamic/viz/?visualizations[]=#{vizType.name}")#viz-styles

block container

    .editor-container.push.wrap
        .top-matter

            .meta
                h2
                    | #{vizType.name}
                .subheader
                    a(href="..")
                        | &larr; back

                .action-container
                    a(href="/visualization-types/#{vizType.id}/delete")
                        .button.danger
                            | Delete Visualization


                    a(href="#")#save-button
                        .button.pad-left
                            | Save



            
        .editor-code-container
            
            .visualization-type(data-id="#{vizType.id}", data-collapse)

                .section-header
                    h3
                        | javascript
                textarea#js-editor
                    | #{vizType.javascript}
            
            
                .section-header
                    h3
                        | styles
                textarea#style-editor
                    if vizType.styles
                        | #{vizType.styles}
                    else
                        | .#{vizType.name} {
                        |       
                        | }

                .section-header
                    h3
                        | data

                .data-container
                    for sampleData in vizType.sampleData
                        button(data-data="#{JSON.stringify(sampleData.data)}").data-button
                            | #{sampleData.name}

                textarea#data-editor
                    if vizType.sampleData.length
                        | #{JSON.stringify(vizType.sampleData[0].data)}


                //- if vizType.markup            
                //-     .section-header
                //-         h3
                //-             | markup
                //-     textarea#markup-editor
                //-         | #{vizType.markup}
            
            
        .editor-viz-container
            .feed-item-container
                .feed-item(data-type="#{vizType.name}", data-data="#{(vizType.sampleData.length) ? JSON.stringify(vizType.sampleData[0].data) : []}", data-images="#{JSON.stringify(vizType.sampleImages)}", data-initialized="false")


    .saved
        | Saved!
    .problem-saving
        | Problem Saving...


block scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='#{STATIC_URL}js/basic.js')
    script(src="#{STATIC_URL}js/dynamic/viz/?cachemiss=true&visualizations[]=#{vizType.name}")
    script(src='#{STATIC_URL}js/editor.js')