extends ../layout

block container

    .editor-outer-section.wrap.push
        .editor-inner-section
            .top-matter
                .info-container
                    a(href="#{BASE_URL}visualization-types/")
                        | &larr; back

                .title-container
                    h1
                        | #{utils.titleCase(vizType.name)}

                .action-container
                    a(href="#import-visualization-modal", rel="modal:open")
                        .button
                            | Import



    #editor-component

    .modal#import-visualization-modal
        #visualization-importer
            
    .saved
        | Saved!
    .problem-saving
        | Problem Saving...


block scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script.
        !{javascript}
    script.
        window.lightning = window.lightning || {};
        window.lightning.editor = {
            datasets: !{JSON.stringify(vizType.sampleData)},
            sampleOptions: !{JSON.stringify(vizType.sampleOptions)},
            sampleImages: !{JSON.stringify(vizType.sampleImages)},
            name: "#{vizType.name}",
            moduleName: "#{vizType.moduleName}",
            location: "#{location}",
            source: "#{source}",
            url: "#{url}",
            path: "#{path}"
        };
    script(src='#{STATIC_URL}js/preview.js')
