extends ../layout

block dynamic-css
    if visualizations.length
        link(rel='stylesheet', href="#{STATIC_URL}css/dynamic/viz/?visualizations[]=#{_.pluck(_.pluck(visualizations, 'VisualizationType'), 'name').join('&visualizations[]=')}")

block sidebar


block content

    .row
        .six.columns
            h2
                | #{session.getDisplayName()}
            .subheader
                p
                    | Created #{moment(session.createdAt).fromNow()}


    .row
        .sixteen.columns
            .feed-container

                if visualizations.length
                    for viz in visualizations.reverse()
                        include ./viz-data-public
                        hr

                else
                    p.empty
                        | No data found. Post data to  
                        span.code
                            | #{BASE_URL}sessions/#{session.id}/visualizations




block append scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='#{STATIC_URL}js/basic.js')
    if visualizations.length
        script(src="#{STATIC_URL}js/dynamic/viz/?visualizations[]=#{_.pluck(_.pluck(visualizations, 'VisualizationType'), 'name').join('&visualizations[]=')}")
    script(src='#{STATIC_URL}js/feed.js')
