extends ../layout

block dynamic-css
    link(rel='stylesheet', href="#{STATIC_URL}css/dynamic/viz/?visualizations[]=#{_.pluck(visualizations, 'type').join('&visualizations[]=')}")

block content

    .row
        .six.columns
            h2(data-editable, data-model="session", data-model-id="#{session.id}", data-key="name")
                | #{session.getDisplayName()}
            .subheader
                p
                    | Created #{moment(session.createdAt).fromNow()}
                p
                    small
                        a(href="/sessions/#{session.id}/delete")
                            | Delete Session

                p
                    small
                        a(href="#add-data-modal", rel="modal:open")
                            | Create Visualization



    .row
        .sixteen.columns
            .feed-container

                if visualizations.length
                    for viz in visualizations.reverse()
                        include ./viz-data
                        hr

                else
                    p.empty
                        | No data found. Post data to  
                        span.code
                            | /sessions/#{session.id}/visualizations



    .modal#add-data-modal
        form#data-input-form(method="post", action="../visualizations")
            h3
                | Manually Create Visualization
            select(name="type")
                each type, typeName in vizTypes
                    option(value="#{typeName}")
                        | #{typeName}

            textarea(name="data", placeholder="e.g. [1, 2, 3, 4, 5]")

            input(type="submit", value="Submit")




block append scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='#{STATIC_URL}js/basic.js')
    script(src="#{STATIC_URL}js/dynamic/viz/?visualizations[]=#{_.pluck(visualizations, 'type').join('&visualizations[]=')}")
    script(src='#{STATIC_URL}js/feed.js')
