extends ../layout


block content

    .row
        .six.columns
            h2(data-editable, data-model="session", data-model-id="#{session.id}", data-key="name")
                | #{session.getDisplayName()}
            .subheader
                p
                    | Created #{moment(session.createdAt).fromNow()}

    .row
        .two-thirds.column
            .feed-container
                if visualizations.length

                    for viz in visualizations.reverse()
                        include ./viz-data
                        hr

                else
                    p.empty
                        | No data found. Post data to  
                        span.code
                            | /sessions/#{session.id}/visualizations




block scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='#{STATIC_URL}js/feed.js')
