extends ../layout

block dynamic-css
    link(rel='stylesheet', href="#{STATIC_URL}css/dynamic/viz/?visualizations[]=#{_.pluck(visualizations, 'type').join('&visualizations[]=')}")

    
block content

    .row
        .six.columns
            h2(data-editable, data-model="session", data-model-id="#{session.id}", data-key="name")
                | #{session.getDisplayName()}
            .subheader
                p
                    | Created #{moment(session.createdAt).fromNow()}
                p
                    small
                        a(href="#{BASE_URL}sessions/#{session.id}/delete", data-confirm="Are you sure you want to delete this session?")
                            | Delete Session

                p
                    small
                        a(href="#add-data-modal", rel="modal:open")
                            | Create Visualization
                p
                    small
                        a(href="../public")
                            | Public Link



    .row
        .sixteen.columns
            .feed-container

                if visualizations.length
                    for viz in visualizations.reverse()
                        include ./viz-data
                        hr

                else
                    p.empty
                        | No data found. Post data to  
                        span.code
                            | #{BASE_URL}sessions/#{session.id}/visualizations



    .modal#add-data-modal
        form#data-input-form(method="post", action="../visualizations")
            h3
                | Manually Create Visualization
            select(name="type")
                each type, typeName in vizTypes
                    if typeName === 'line'
                        option(value="#{typeName}", selected="selected")
                            | #{typeName}
                    else
                        option(value="#{typeName}")
                            | #{typeName}

            textarea(name="data", placeholder='e.g. {"series": [1, 3, 5, 2, 4, 5, 7, 9]}')

            input(type="submit", value="Submit")




block scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='#{STATIC_URL}js/basic.js')
    script(src="#{STATIC_URL}js/dynamic/viz/?visualizations[]=#{_.pluck(visualizations, 'type').join('&visualizations[]=')}")
    script(src='#{STATIC_URL}js/feed.js')
