extends ../layout

block meta
  meta(content="#{BASE_URL}visualizations/#{viz.id}/screenshot/?width=800&height=600", property="og:image")
  meta(content="#{BASE_URL}visualizations/#{viz.id}/screenshot/?width=800&height=600", property="og:image:url")

block sidebar
    
block content
    //- .row
        .two-thirds.column
    .feed-container
        include ./viz-data-public


block scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='#{STATIC_URL}js/basic.js')
    script(src="#{STATIC_URL}js/dynamic/viz/?visualizations[]=#{viz.VisualizationType.name}")
    script(src='#{STATIC_URL}js/public.js')
