extends ../embed-layout


block sidebar
    
block content
    .feed-container
        .feed-item-container(data-model="visualization", data-model-id="#{viz.id}")
            .feed-item(data-type="#{viz.type}", data-data="#{ JSON.stringify(viz.getInitialData(vizTypes[viz.type])) }", data-images="#{JSON.stringify(viz.images)}", data-options="#{JSON.stringify(viz.options)}" id="viz-#{viz.id}", data-initialized="false")



block scripts
    script(src='#{STATIC_URL}js/feed.js')
