extends ../embed-layout


block sidebar
    
block content
    .feed-container
        .feed-item-container(data-model="visualization", data-model-id="#{viz.id}")
            .feed-item(data-type="#{viz.type}", data-data="#{ JSON.stringify(viz.getInitialData(vizTypes[viz.type])) }", data-images="#{JSON.stringify(viz.images)}", id="viz-#{viz.id}")



block scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js")
    script(src='#{STATIC_URL}js/feed.js')
