extends ../embed-layout

block sidebar
    
block content

    .feed-item-container(data-model="visualization", data-model-id="#{viz.id}")
        include ./includes/viz



block scripts
    script.
        window.lightning = window.lightning || {};
        window.lightning.host = window.lightning.host || "#{STATIC_URL}" || 'http://127.0.0.1:3000/';
        window.lightning.requiredVizTypes = window.lightning.requiredVizTypes || [];
        if(window.lightning.requiredVizTypes.indexOf("#{viz.VisualizationType.name}") === -1) {
            window.lightning.requiredVizTypes.push("#{viz.VisualizationType.name}");
        }
        window.lightning.sid = '#{viz.SessionId}';
        window._require = window.require;
        window.require = undefined;
        window._define = window.define;
        window.define = undefined;
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='#{STATIC_URL}js/pym.js')
