
.feed-item-container(data-model="visualization", data-model-id="#{viz.id}")
    .feed-item(data-type="#{viz.type}", data-data="#{ JSON.stringify(viz.getInitialData(vizTypes[viz.type])) }", data-images="#{JSON.stringify(viz.images)}", id="viz-#{viz.id}", data-initialized="false")

    .description-container
        .description
            if viz.description
                | !{marked(viz.description)}

        .description-editor
            textarea
                | #{viz.description}



    .bottom-container
        .edit-description
            a(href="#")
                if viz.description
                    | edit description
                else
                    | add description


        .permalink
            a(href="/visualizations/#{viz.id}")
                | permalink
