
if viz.getInitialData(vizTypes[viz.type])
    .feed-item(data-type="#{viz.type}", data-data="#{ JSON.stringify(viz.getInitialData(vizTypes[viz.type])) }", data-images="#{JSON.stringify(viz.images)}", id="viz-#{viz.id}")
    .permalink
        a(href="/visualizations/#{viz.id}")
            | permalink
