
.feed-item-container(data-model="visualization", data-model-id="#{viz.id}")
    .feed-item(data-type="#{viz.type}", data-data="#{ JSON.stringify(viz.getInitialData(vizTypes[viz.type])) }", data-images="#{JSON.stringify(viz.images)}", id="viz-#{viz.id}", data-initialized="false")

    .description-container
        .description
            if viz.description
                | !{marked(viz.description)}

        .description-editor
            textarea
                | #{viz.description}



    .bottom-container
        .edit-description
            a(href="#")
                if viz.description
                    | edit description
                else
                    | add description


        .permalink
            ul(data-dropit).menu
                li
                    a(href="#")
                        | Actions
                    ul
                        li
                            a(href="/visualizations/#{viz.id}/data")
                                | Raw Data
                        li
                            a(href="/visualizations/#{viz.id}", data-attribute="permalink")
                                | Internal Permalink
                        li
                            a(href="/visualizations/#{viz.id}/public")
                                | Public Permalink
                        li
                            a(href="/visualizations/#{viz.id}/iframe")
                                | Iframe Link
                        li
                            a(href="/visualizations/#{viz.id}/pym")
                                | Pym enabled iframe Link
                        li
                            a(href="/visualizations/#{viz.id}/delete", data-confirm="Are you sure you want to delete this visualization?")
                                | Delete
